<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>DevBurger - Página Inicial</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <div class="container-header">
      <h1>Bem-vindo ao DevBurger!</h1>
      <nav>
        <a href="/contato">Fale conosco</a>
        <a href="/api/lanches">Ver API de lanches</a>
      </nav>
    </div>
  </header>

  <section>
    <div class="container-cardapio">
    <h2>Nosso Cardápio</h2>
    <ul>
      <!-- LANCHES -->
    </ul>

    <script>
      function toggleIngredientes(id) {
        const elem = document.getElementById('ingredientes-' + id);
        elem.style.display = (elem.style.display === 'none') ? 'block' : 'none';
      }
    </script>

    </div>
  </section>

  <section>
    <div class="container-sugestao">
      <h2>Sugira um novo lanche</h2>
      <form action="/sugestao" method="GET">
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
        <textarea id="ingredientes" name="ingredientes" rows="4" placeholder="Digite os ingredientes do lanche" required></textarea>

        <button type="submit">Enviar sugestão</button>
      </form>
    </div>
  </section>
</body>
</html>
