<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sugestao.css">
    <title>Document</title>
</head>
<body>
    <section class="sugestao-enviada">
        <div class="container_sugestao-enviada">
            <h1>Obrigado pela sua sugestão!</h1>
            <p>Recebemos sua sugestão e iremos analisá-la em breve.</p>
            <p>Se precisar de mais informações, entre em contato conosco.</p>
            <button type="button" onclick="window.location.href='/'">Voltar para a página inicial</button>
        </div>
    </section>
</body>
</html>